/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * riskybird side ToF bring-up: front VL53L5CX (8x8) on I2C0 at 0x29 (default), enabled via the
 * ADS7128 GPIO2 XSHUT in application code (not a Zephyr gpio-controller). Console -> USB.
 */
/ {
	chosen {
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
	};
	aliases {
		side-front = &side_front;
	};
};

&usb_serial {
	status = "okay";
};

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO15>, <I2C0_SCL_GPIO14>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;

	/* FRONT side sensor (J2), enabled via ADS7128 GPIO2. Default VL53L5CX address 0x29. */
	side_front: vl53l5cx@29 {
		compatible = "st,vl53l5cx";
		reg = <0x29>;
	};
};
